<!-- <h1>Sreedipto Roy</h1> 

<div>
  <label for="nameInput">Enter your name:</label>
  <input  type="text" #name placeholder="Type your name" />
  <button type="button" (click)="nameinput(name.value)">submit </button>
</div>

<p>Your name is: {{ name1 }}</p>

<h2>User List</h2>
  <ul>
    <li *ngFor="let user of users">
      <strong>{{ user.name }}</strong> ({{ user.email }})
      <button (click)="removeUser(user.id)">Remove</button>
    </li>
  </ul>

 -->


 <!-- <app-register></app-register> -->
 <!-- <app-tolist></app-tolist> -->
 <!-- <app-employee></app-employee> -->
  <!-- <app-product></app-product> -->
   <app-header></app-header>
   <router-outlet></router-outlet>
